@model SiteOfMe.Models.User
           
<div class="display-label">UserName</div>
<div class="display-field">@Model.UserName</div>
<div class="display-label">DisplayName</div>
<div class="display-field">@Model.DisplayName</div>
<div class="display-label">Password</div>
<div class="display-field">@Model.Password</div>
<div class="display-label">Email</div>
<div class="display-field">@Model.Email</div>
<div class="display-label">ImageAddress</div>
<div class="display-field">@Model.ImageAddress</div>
<div class="display-label">About</div>
<div class="display-field">@Model.About</div>
<div class="display-label">PasswordConfirm</div>
<div class="display-field">@Model.PasswordConfirm</div>
